@page "/"
@inject HttpClient httpClient
<PageTitle>Index</PageTitle>

<h1>Hello, New branch!</h1>

<input @bind=increment type='number'/>
<button @onclick=buttonsClick>Click Me</button>
<p>Your last click on @timesClicked, was  @lastClicked</p>

<label>
    Your Name
    <input type="text" @bind=userName>
</label>
<button @onclick=callApi>Greet Me!</button>
<p>@apiResponse</p>

@code
{
    string userName;
    string apiResponse = "Enter your name and click the Greet Me! Button";
    int timesClicked = 0;

    int increment = 1;
    DateTime lastClicked;
    void buttonsClick()
    {
        timesClicked+=increment;
        lastClicked = DateTime.Now;
    }

    async Task callApi()
    {
        apiResponse = await httpClient.GetStringAsync($"/api/HttpTrigger1?name={userName}");
    }
}
Welcome to your new app.
